@charset "UTF-8";

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img.img-sp {
    display: none;
}

/* バナー */

.banner img.img-pc {
    width: 100%;
    height: 40px;
    object-fit: cover;
}

.banner li {
    height: 40px;
}

/* ヘッダー */

header {
    background-color: #f6f6f6;
}

.shop-guide {
    width: 100%;
    max-width: 1180px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;
}

.shipping i {
    font-size: 2.0rem;
    margin-right: 5px;
}

.shipping p {
    font-size: 1.3rem;
    line-height: 40px;
}

.shipping span {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    border-radius: 10px;
    background-color: #4ba4d9;
    width: 69px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    margin-left: 4px;
}

.login ul {
    display: flex;
}

.login li {
    margin: 0 10px;
}

.login a {
    color: #8c8c8c;
    font-size: 1.2rem;
    line-height: 40px;
}

.login > ul > li:nth-of-type(1) a {
    color: #00d664;
    font-weight: 700;
}

.login > ul > li:nth-of-type(1) {
    margin-left: 0;
}

.main-header {
    background-color: #fff;
}

.logo-area {
    background-color: #fff;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 70px;
}

.humberger-menu {
    display: none;
}

.sub-menu ul {
    display: flex;
}

.sub-menu li {
    margin-right: 20px;
}

.sub-menu a {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;    
    line-height: 70px;
}

.sub-menu > ul >li:nth-last-of-type(2) a {
    color: #ff5a5f;
}

.logo {
    margin: auto;
}

.logo a {
    width: 141px;
    height: 18px;
    
}

.logo img {
    width: 141px;
    height: 18px;
    object-fit: cover;
}

.search {
    display: flex;
    justify-content: flex-end;
}

.search ul {
    display: flex;
    margin: auto 0;
}

.search-box input {
    width: 220px;
    height: 36px;
    font-size: 1.3rem;
    padding: 0 32px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background: #fafafa;
}

::placeholder {
    opacity: 0.6;
}

.search-box {
    position: relative;
    margin: auto 0;
}

.search-box button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    left: 8px;
}

.search-box i {
    font-size: 1.5rem;
    opacity: 0.3;
}

.search-icon {
    display: none;
}

.heart {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 2px 0 0 20px;
}

.heart i {
    font-size: 2.2rem;
    color: #000;
}

.heart span, .cart span {
    font-family: Volte;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    padding: 0 3px;
    color: #fff;
    border-radius: 30px;
    background: #00d664;
    min-width: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.cart {
    position: relative;
    width: 32px;
    height: 32px;
    margin: 2px 0 0 8px;
}

.cart i {
    font-size: 2.0rem;
    color: #000;
}

/* グローバルナビゲーション */

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    height: 46px;
}

nav a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    line-height: 46px;
}

.character-select {
    position: relative;
}

.character-select a {
    display: inline-block;
    padding-right: 30px;
    padding-left: 78px;
}

.character-select a:after {
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-bottom: solid 2px #333;;
    border-right: solid 2px #333;;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
    transform: rotate(45deg);
}

/* スライドショー */

.character-select ul {
    display: block;
}

.character-select li {
    padding-left: 70px;
}

.character-select img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 5px;
    left: 30px;
    opacity:0;
    animation: slideAnime 18s ease infinite;
}

.character-select li:nth-of-type(1) > img {
    animation-delay: 0s;
}

.character-select li:nth-of-type(2) > img {
    animation-delay: 3s;
}

.character-select li:nth-of-type(3) > img {
    animation-delay: 6s;
}

.character-select li:nth-of-type(4) > img {
    animation-delay: 9s;
}

.character-select li:nth-of-type(5) > img{ 
    animation-delay: 12s;
}

.character-select li:nth-of-type(6) > img {
    animation-delay: 15s;
}

@keyframes slideAnime {
    0% { opacity: 0 }
    1% { opacity: 1 }
    16% { opacity: 1 }
    17% { opacity: 0 }
    100% { opacity: 0 }
}

/*　メイン画像 */

.top-image img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 50%;
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
    width: 50px; /* ボタンの幅 */
    height: 50px; /* ボタンの高さ */
    background-size: 50px 50px; /* 背景画像としてのサイズ（＝表示したい画像サイズ） */
    margin-top: -24px; /* 縦中央配置用：ボタンの高さの半分のネガティブマージン（top:50%がすでに設定されている） */
}

.swiper-button-prev {
    background-image: url(image/pagination-prev.png);
    margin-left: 20px;
}

.swiper-button-next {
    background-image: url(image/pagination-next.png);
    margin-right: 20px;
}

/* メインコンテンツ */

.common-margin {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.common-margin {
    margin-top: 60px;
}

section {
    margin-top: 60px;
}

/* ニュースバー */

.news-bar {
    display: flex;
    justify-content: space-between;
    height: 40px;
    border: 1px solid #eee;
    background-color: #f6f6f6;
    text-align: center;
    margin-top: 45px;
}

.news-bar a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    line-height: 40px;
}

.previous {
    padding-left: 20px;
}

.next {
    padding-right: 20px;
}

/* メインコンテンツ共通 */

section h2 {
    font-size: 2.6rem;
    text-align: center;
}

/* 新着・売れ筋商品共通 */
.common > ul {
    display: flex;
    justify-content: center;
    margin: 12px 0 20px;
}

.common > ul > li > a {
    font-size: 1.6rem;
    color: #999;
}

.common > ul > li:nth-of-type(1) a {
    color: #333;
    font-weight: 600;
    text-decoration: underline;
}

.common > ul > li {
    margin-right: 12px;
    padding-right: 12px;
    position: relative;
}

.common > ul > li:after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background: #ddd;
    position: absolute;
    top: 5px;
    right: 0;
}

.common > ul > li:nth-of-type(3):after {
    display: none;
}

/* 新着商品 */

.common-pagination {
    position: relative;
}

.common-pagination > p {
    position: absolute;
    top: 52px;
    right: 0;
    font-size: 1.4rem;
}

.common-pagination p > a {
    color: #333;
    position: relative;
    padding-right: 10px;
}

.common-pagination p > a:after {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #333;
    border-right: solid 2px #333;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2px;
    transform: rotate(45deg);
}

/* 商品一覧共通 */

.common-category ul {
    display: flex;
    justify-content: space-between;
}

.common-category li {
    position: relative;
    width: 15%;
    height:270px;
    display: block;
    overflow: hidden;
}

.common-category img {
    position: absolute;
    width: 100%;
    display: block;
    transition: .4s ease-in-out;
}

.common-category img:nth-of-type(1) {
    z-index: 99;
}

.common-category li:hover img:nth-of-type(1) {
    opacity: 0;
}

.common-category p {
    color: #333;
    text-align: center;
}

.common-category p:nth-of-type(1) {
    position: absolute;
    top: 200px;
    left: 0;
    font-size: 1.4rem;
}

.common-category span {
    font-size: 2.0rem;
    font-weight: 600;
}

/* おすすめ商品 */

.recommend-item {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #f6f6f6;
}

.recommend-item ul {
    display: flex;
    justify-content: space-between;
    max-width: 1180px;
    margin: 35px auto 0
}

.recommend-item img {
    width: 380px;
    vertical-align: top;
}

.reccomend-detail {
    background-color: #fff;
    color: #333;
    padding: 15px 0 35px 20px;
}

.reccomend-detail h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

.reccomend-detail p {
    color: #666;
    font-size: 1.4rem;
    font-weight: 400;
}

/* クーポンバナー */

.banner-coupon {
    margin-top: 50px;
    text-align: center;
}

.banner-coupon img {
    width: 100%;
    max-width: 1180px;
}

/* 売れ筋アイテム */

.popular-item-category ul {
    display: flex;
    flex-wrap: wrap;
}

.popular-item-category li {
    width: 20%;
    height: 320px;
}

.popular-item-category p:nth-of-type(1) {
    top: 250px;
    padding: 0 18px;
}

/* 最近チェックした商品 */

.recently-checked {
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 50px;
}

.recently-checked-category ul {
    max-width: 1180px;
    margin: 35px auto 0;
}

.recently-checked-category li {
    width: 33%;
    height: 180px;
    background-color: #fff;
    position: relative;
}

.recently-checked-category img {
    width: 152px;
    height: 152px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    margin-left: 10px;
}

.recently-checked-category p:nth-of-type(1) {
    top: 60px;
    right: 20px;
    left: auto;
    width: 180px;
    text-align: left;
}

/* 今週のピックアップ */

.weekly-pickup h3 {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    margin: 5px 0 20px;
}

.weekly-item-category ul {
    display: flex;
    flex-wrap: wrap;
}

.weekly-item-category li {
    width: 16%;
    height: 210px;
}

/* キャラクターバナー */

.character-banner ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.character-banner img {
    width: 388px;
    margin-top: 20px;
}

.character-banner h3 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #666;
    margin-top: 15px;
}

.character-banner p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #666;
    line-height: 1.6;
}

/* 公式アカウント */

.sns-account {
    padding-top: 40px;
    padding-bottom: 60px;
    margin-bottom: 30px;
}

.sns-account h3 {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    margin: 5px 0 20px;
}

.sns-account ul {
    display: flex;
    justify-content: space-between;
}

.sns-account li {
    width: 49%;
}

.sns-account img {
    width: 100%;
}

.sns-account p {
    display: none;
}

/* フッター */

footer {
    background-color: #3d485e;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    row-gap: 30px;
    padding: 25px 10%;
    font-size: 1.2rem;
}

footer ul {
    list-style: none;
}

.footer-nav ul {
    grid-row: 1;
    grid-column: 1;
    display: flex;
}

.footer-nav li {
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1px solid hsla(0,0%,100%,.1);
    line-height: 12px;
}

.footer-nav a {
    color: #fff;
    opacity: 0.4;
    text-decoration: none;
}

.sns {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    color: #fff;
    opacity: 0.4;
}

.sns-linefriends img, .sns-bt21 img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.sns-linefriends, .sns-bt21 {
    display: flex;
}

.sns ul {
    display: flex;
    line-height: 24px;
    margin-right: 48px;
}

.sns p {
    margin-right: 16px;
}

.company-name {
    grid-row: 1/2;
    grid-column: 2;
    color: #fff;
    opacity: 0.4;
    text-align: right;
}

/* tablet */

@media screen and (max-width: 1024px) {

    html {
        font-size: 50%;
    }

    .banner img.img-pc {
        width: 100%;
        height: 30px;
    }

    section {
        margin-top: 0;
    }

    .common-margin {
        margin-top: 30px;
    }

    .common-category p:nth-of-type(1) {
        top: 140px;
        font-size: 1.2rem;
    }

    .recommend-item img {
        width: 100%;
    }

    .recommend-item li:not(:first-of-type) {
        padding-left: 2%;
    }

    .reccomend-detail {
        padding-left: 10px;
    }

    .reccomend-detail h3 {
        font-size: 1.4rem;
    }

    .reccomend-detail p {
        font-size: 1.2rem;
    }

    .popular-item-category li {
        height: 250px;
    }

    .popular-item-category p:nth-of-type(1) {
        top: 160px;
    }

    .recently-checked-category li {
        height: 130px;
    }

    .recently-checked-category img {
        width: 100px;
        height: 100px;
    }

    .recently-checked-category p:nth-of-type(1) {
        top: 40px;
        width: 100px;
        font-size: 1.2rem;
    }

    .common-category span {
        font-size: 1.8rem;
    }

    .recently-checked {
        padding-top: 30px;
    }

    .weekly-item-category li {
        height: 150px;
    }

    .character-banner img {
        width: 240px;
    }

    footer {
        padding: 2rem;
    }

}

@media screen and (max-width: 480px) {

    html {
        font-size: 62.5%;
    }

    /* sp用画像オン */

    img.img-pc {
        display: none;
    }

    img.img-sp {
        display: block;
        width: 100%;
    }

    .login {
        display: none;
    }

    .sub-menu {
        display: none;
    }

    form {
        display: none;
    }

    nav {
        display: none;
    }

    /* バナー */

    .banner li {
        height: 100%;
    }

    /* ヘッダー順番変更 */

    .for-sp {
        display: flex;
        flex-direction: column-reverse;
    }

    /* ヘッダー */
    .logo-area {
        height: 60px;
    }

    .humberger-menu {
        display: block;
    }

    .humberger-menu i {
        font-size: 2.0rem;
        color: #333;
        padding-left: 10%;
        line-height: 60px;
    }

    .search-icon {
        display: block;
    }

    .heart {
        display: none;
    }

    .cart span {
        left: 10px;
    }

    .search-icon i {
        font-size: 2.0rem;
        color: #333;
    }

    .cart, .search-icon {
        margin: 2px 10px 0 5px;
    }

    .shop-guide {
        justify-content: center;
    }

    /* トップ画像 */
    
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }

    /* ニュース */

    .previous, .next {
        display: none;
    }

    .news-bar {
        background-color: rgba(0,214,100,.1);
        border: none;
        padding: 10px 25px;
        height: 60px;
        text-align: left;
    }

    .news-bar a {
        line-height: 1.4em;
        font-weight: 400;
    }

    /* メイン共通 */

    .common-margin {
        margin-top: 20px;
    }

    .common > ul > li:after {
        display: none;
    }

    section {
        padding: 0 2rem;
    }

    section h2 {
        font-size: 2.2rem;
    }

    /* 新着商品 */
    .common > ul > li {
        margin-right: 0;
    }

    .common-category ul {
        flex-flow: wrap;
    }

    .common-category li {
        width: 50%;
    }

    .common-category p:nth-of-type(1) {
        top: 200px;
    }

    .new-items {
        padding-bottom: 80px;
        position: relative;
    }

    .common-pagination > p {
        bottom: 50px;
        top: auto;
        right: 50%;
        border: solid 1px #ddd;
        padding: 10px 50px;
        transform: translate(50%,50%);
        width: 300px;
        text-align: center;
    }

    .common-pagination p > a {
        font-size: 1.6rem;
        font-weight: 500;
    }

    /* おすすめ商品 */

    .recommend-item ul {
        flex-flow: wrap;
        margin-top: 20px;
    }
    
    .recommend-item li {
        margin-bottom: 30px;
    }

    .reccomend-detail h3 {
        font-size: 1.6rem;
    }

    .reccomend-detail p {
        font-size: 1.4rem;
    }

    .recommend-item {
        padding-bottom: 10px;
    }

    /* クーポンバナー */

    .banner-coupon {
        margin-top: 20px;
    }

    /* 売れ筋 */

    .popular-item-category li {
        height: 280px;
    }

    .recently-checked-category li:not(:first-of-type) {
        display: none;
    }

    .recently-checked-category li {
        height: 280px;
    }

    /*  最近チェックした商品 */

    .recently-checked-category img {
        position: absolute;
        width: 100%;
        display: block;
        width: 152px;
        height: 152px;
        top: 0;
        transform: translate(0);
    }

    .recently-checked-category p:nth-of-type(1) {
        width: 120px;
        text-align: center;
    }

    /* 今週のピックアップ */
    
    .weekly-item-category li {
        width: 33%;
    }

    .weekly-item-category {
        padding-bottom: 80px;
    }

    /* キャラクターバナー */

    .character-banner ul {
        flex-wrap: wrap;
    }

    .character-banner img {
        width: 100%;
    }

    .character-banner {
        background-color: #f6f6f6;
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .character-banner h3 {
        margin-top: 0;
        background-color: #fff;
        text-align: left;
        padding: 15px 20px 5px 20px;
    }

    .character-banner p {
        background-color: #fff;
        text-align: left;
        padding: 0 20px 20px 20px;
    }

    .character-banner img {
        vertical-align: top;
    }

    /* 公式アカウント */
    .sns-account {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .sns-account p {
        display: block;
        text-align: center;
        font-size: 1.6rem;
        padding-top: 1.2rem;
    }

    /* フッター */

    footer {
        display: block;
    }
    
    .footer-nav {
        padding-right: 50px;
    }

    .footer-nav ul {
        flex-wrap: wrap;
    }
    
    .footer-nav li {
        margin-bottom: 0.8rem;
    }

    .footer-nav a {
        line-height: 2.0rem;
        font-weight: 400;
    }

    .sns-linefriends, .sns-bt21 {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
    }

    .sns-linefriends img, .sns-bt21 img {
        margin: 5px 15px 20px 0;
    }

    .company-name {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        text-align: right;
        padding-top: 15px;
        border-top: solid 1px #666;
    }

}